.comment-form
  - if logged_in?
    = form_for [commentable, Comment.new], remote: true do |f|
      = f.text_area :body, :cols => 700, :rows => 10, placeholder: 'Your comment here...'
      .btn-group
        = f.submit 'Submit', class: 'btn submit btn-primary'
    .comment-template.hidden
      = render CommentDecorator.decorate(Comment.new(user: current_user))
  - else
    .login
      %h2 Please login to post comments.
      .btn-group= render "sessions/login_buttons"
