.user.big

  = link_to(image_tag(user.avatar_url(100)), user, :class => 'avatar')

  .desc
    %strong Nick
    = link_to sanitize(user.nickname), user

  - if defined?(record)
    - if record.description.present?
      .desc
        %strong Description
        .long=sanitize record.description_html
    - if record.uname.present?
      .desc
        %strong Uname
        .long.uname=sanitize record.uname
    - if record.xdg_current_desktop.present?
      .desc
        %strong Desktop
        .long=sanitize record.xdg_current_desktop
    - if record.term.present?
      .desc
        %strong Term
        .long=sanitize record.term
    - if record.shell.present?
      .desc
        %strong Shell
        .long=sanitize record.shell
    - if record.related_url.present?
      .desc
        %strong Read Also
        .long= link_to record.related_url
    .desc
      %strong Size
      .long=sanitize record.size
    .desc
      %strong Statistics
      - anon_count = @record.views(:anonymous)
      - reg_count  = @record.views(:registered)
      .long
        == #{pluralize anon_count, 'view'} by Anonymous and
        == #{pluralize reg_count, 'view'} by registered users
    - unless record.tags.blank?
      .desc.tags
        %strong Tags
        .tags.long
        - record.tags.split(",").map(&:strip).each do |tag|
          = link_to sanitize(tag), records_path(:tags => [tag])
    - if record.editable_by?(current_user) and edit
      .desc
        %strong Tools:
        .btn-group
          = link_to('edit', edit_record_path(@record), class: 'btn btn-success') if @record.editable_by?(current_user)
          = link_to('destroy', record_path(@record), method: :delete, class: 'btn btn-danger') if @record.editable_by?(current_user)

  - else

    - if defined?(role)
      .desc
        %strong Role
        = RDiscount.new(role).to_html.html_safe
    - if user.website.present?
      .desc
        %strong Website
        = link_to sanitize(user.website), user.website

    - if user.twitter_name.present?
      .desc
        %strong Twitter
        - twitter_url = sanitize "http://twitter.com/#{user.twitter_name}"
        = link_to twitter_url, twitter_url

    - if user.github_name.present?
      .desc
        %strong Github
        - github_url = sanitize "http://github.com/#{user.github_name}"
        = link_to github_url, github_url

    - if user.bitcoin.present?
      .desc
        %strong Bitcoin
        =sanitize user.bitcoin

    .desc
      %strong Member Since
      = user.created_at.strftime("%Y-%m-%d")

    - if user.about.present?
      .desc
        %strong About
        =sanitize user.about

    - if user.editable_by?(current_user)
      .desc
        %strong It's You!
        = link_to 'Edit Your Profile', edit_user_path(user)
