.user.big

  = link_to(image_tag(user.avatar_url(100)), user, :class => 'avatar')
  
  .desc
    %strong Nick
    = link_to sanitize(user.nickname), user

  - if defined?(record)
    .desc
      %strong Description
      .long=sanitize record.description_html
      
    - unless record.tags.blank?
      .desc.tags
        %strong Tags
        .tags.long
        - record.tags.split(",").map(&:strip).each do |tag|
          = link_to sanitize(tag), records_path(:tags => [tag])
    - if record.editable_by?(current_user) and edit
      .desc
        %strong Tools:
        .btn-group
          = link_to('edit', edit_record_path(@record), class: 'btn btn-success') if @record.editable_by?(current_user)
          = link_to('destroy', record_path(@record), method: :delete, class: 'btn btn-danger') if @record.editable_by?(current_user)

  - else
    
    - unless user.website.blank?
      .desc
        %strong Website
        = link_to sanitize(user.website), user.website

    - unless user.twitter_name.blank?
      .desc
        %strong Twitter
        - twitter_url = sanitize "http://twitter.com/#{user.twitter_name}"
        = link_to twitter_url, twitter_url
        
    - unless user.github_name.blank?
      .desc
        %strong Github
        - github_url = sanitize "http://github.com/#{user.github_name}"
        = link_to github_url, github_url

    - unless user.bitcoin.blank?
      .desc
        %strong Bitcoin
        =sanitize user.bitcoin
      
    .desc
      %strong Member Since
      = user.created_at.strftime("%Y-%m-%d")

    - unless user.about.blank?
      .desc
        %strong About
        =sanitize user.about

    - if user.editable_by?(current_user)
      .desc
        %strong It's You!
        = link_to 'Edit Your Profile', edit_user_path(user)
