.info-block.profile
  %h1.aligned Profile

  = simple_form_for @user do |f|
    = f.input :nickname, hint: 'Displayed to other users'
    = f.input :email, hint: 'Used for <a href="http://gravatar.com">Gravatar</a>'.html_safe
    = f.input :website, placeholder: 'http://shelr.tv/'
    -# = f.input :bitcoin, hint: '<a href="http://bitcoin.com">Bitcoin</a> address for money donations'.html_safe
    = f.input :about, as: :text, label: false, placeholder: 'Few lines about You', input_html: { rows: 4 }
    = f.input :api_key, label: 'API key', disabled: true, hint: "shelr setup #{@user.api_key}"

    .form-actions
      = button_to_function 'Cancel', 'history.back()', :class => 'btn'
      = f.button :submit, 'Save', :class => 'btn-success'
