%h1 Edit Profile

.profile
  = form_for @user do |f|
    %p
      = f.label :nickname, 'Ninja Name'
      = f.text_field :nickname
      %span.desc
        Displayed to other users
    %p
      = f.label :email, 'Email'
      = f.text_field :email
      %span.desc
        Used for Gravatar
    %p.submit
      = f.submit 'Save'
