- content_for :title do
  = @user.nickname + ' < '

.user.big

  = link_to(image_tag(@user.avatar_url(100)), @user, :class => 'avatar')

  .desc
    %strong Nick
    = link_to @user.nickname

  - unless @user.website.blank?
    .desc
      %strong Website
      = link_to @user.website, @user.website

  - unless @user.twitter_name.blank?
    .desc
      %strong Twitter
      = link_to @user.twitter_name, @user.twitter_name
  .desc
    %strong Member Since
    = @user.created_at.strftime("%Y-%m-%d")

  - unless @user.about.blank?
    .desc
      %strong About
      = @user.about

  - if @user.editable_by?(current_user)
    .desc
      %strong It's You!
      = link_to 'Edit Your Profile', edit_user_path(@user)

- if @user.records.any?
  %ul.records
    - @user.records.each do |record|
      = render :partial => 'records/record', locals: { record: record, show_user: false }
- else
  - if current_user && @user.id == current_user.id
    %p You have no records yet...
    %h2 Start sharing now!
    %pre
      ~ ''
      ~ 'gem install shellcast'
      ~ "shellcast setup #{@user.api_key}"
      ~ 'shellcast record'
      ~ 'shellcast push SHELLCAST_ID'
  - else
    %p Ninja have no records yet...
