- content_for :title do
  = @user.nickname + ' < '

= render :partial => 'user', :locals => { :user => @user }

- if @user.records.any?
  %ul.records
    - @user.records.paginate(:page => params[:page], :per_page => 5).each do |record|
      = render :partial => 'records/record', locals: { record: record, show_user: false }
    %li.record= will_paginate @user.records.paginate(:page => params[:page], :per_page => 5)
    
- else
  - if current_user && @user.id == current_user.id
    %p You have no records yet...
    %h2 Start sharing now!
    %ul
      %li gem install shelr
      %li= "shelr setup #{@user.api_key}"
      %li shelr record
      %li shelr push SHELLCAST_ID
  - else
    %p Ninja have no records yet...
