- content_for :title do
  = @user.nickname + ' < '

%h1
  = @user.nickname
  - if @user.editable_by?(current_user)
    %sup= link_to 'edit', edit_user_path(@user)

- if @user.records.any?
  %ul
    - @user.records.each do |record|
      %li
        = render :partial => 'records/record', locals: { record: record }
- else
  - if current_user && @user.id == current_user.id
    %p You have no records yet...
    %h2 Start sharing now!
    %pre
      ~ ''
      ~ 'gem install shellcast'
      ~ "shellcast setup #{@user.api_key}"
      ~ 'shellcast record'
      ~ 'shellcast push SHELLCAST_ID'
  - else
    %p Ninja have no records yet...
