%h1
  = @user.nickname
  - if @user.editable_by?(current_user)
    %sup= link_to 'edit', edit_user_path(@user)

- if @user.records.any?
  %ul
    - @user.records.each do |record|
      %li= link_to record.title, record
- else
  - if @user.id.to_s == current_user.id.to_s
    %p You have no records yet...
    %h2 Start sharing now!
    %pre
      ~ ''
      ~ 'gem install shellcast'
      ~ "shellcast setup #{@user.api_key}"
      ~ 'shellcast record'
      ~ 'shellcast push SHELLCAST_ID'
  - else
    %p= @user.id.to_s
    %p= current_user.id.to_s
    %p Ninja have no records yet...
