- content_for :title do
  == Shelr.tv user: #{@user.nickname}

- content_for :head do
  = auto_discovery_link_tag :atom, user_url(@user, :format => :atom), title: "Shelr.tv - records from #{@user.nickname}"

.profile= render :partial => 'user', :locals => { :user => @user }

- if @user.records.any?
  %ul.records
    - @records.each do |record|
      = render :partial => 'records/record', locals: { record: record, show_user: false }

  = paginate @user.records.page(params[:page]).per 5
  
- else
  .info
    - if current_user && @user.id == current_user.id
      .alert.alert-block
        %h2.alert-heading Start sharing now!
        %pre
          %code
            = preserve do
              :escaped
                gem install shelr
                shelr setup #{@user.api_key}
                shelr record
                shelr push last
          
    - else
      .alert.alert-block
        %p Ninja have no records yet...
