- embed ||= false
#player.sgr
  .header
    %img{ src: '/assets/term/buttons.png'}
    %h1
      = [@record.title, ' - ', @record.size].join
  #term
  .progress.progress-info.progress-striped
    .bar
  %nav.controls
    %li.sc-button.toggle{ :'data-action' => 'play' }
      %img{ src: '/assets/term/playback-start.png' }
    %li.sc-button{ :'data-action' => 'settings' }
      %img{ src: '/assets/term/properties.png' }
      %ul.sc-settings
        %li Play in Your terminal
        - if @record.editable_by?(current_user)
          %li= link_to 'edit', edit_record_path(@record), method: 'get'
          %li= link_to 'destroy', @record, method: 'delete', confirm: 'Really Destroy?'
    %li.sc-label
      %a{ href: record_path(@record, only_path: false), target: '_blank' }
        %strong Shelr.tv
    %li.sc-label
      Speed:
    %li.speed-container
      %input.speed{ type: 'text', value: '2.5' }
    %br
    %input{ :type => :text, :value => "shelr play #{record_path(@record, :only_path => false, :format => :json)}", :class => 'cmdline hidden' }


- unless embed or record.private?
  .extra-tools.btn-toolbar
    .btn-group
      %button.btn.btn-success.upvote{  data: { voteurl: vote_record_path(record), direction: 'up'   }} +1
      %button.btn.rating= @record.rating
      %button.btn.btn-danger.downvote{ data: { voteurl: vote_record_path(record), direction: 'down' }} -1

    .btn-group
      %button.btn.embed Embed
    .btn-group
      .social= render 'shared/addthis'

  .embed-area.hidden
    %textarea.embed-code
      %iframe{ id: dom_id(record, "shelr"), src: embed_record_path(record, only_path: false), scrolling: 'no', style: 'border: 0', border: '0', width: 10 + (record.columns * 7), height: (record.rows * 14) + 32 + 10 + 30 + 10 }

  

- url = record.private? ? record_path(record, format: 'json', access_key: record.access_key) : record_path(record, format: 'json')

:javascript
  jQuery(function() {
    window.term = new Terminal(#{@record.columns || 80}, #{@record.rows || 24}, function(data) {
      console.log("Handler:", data);
    });
    window.term.id = 1;
    term.open(document.getElementById('term'));
    window.player = new VT.Player(term);
    window.player.load('#{url}');
  })
