#player.sgr
  .header
    %img{ src: '/assets/term/buttons.png'}
    %h1
      = [@record.title, ' - ', @record.size].join
  #term
  %nav.controls
    %li.sc-button.toggle{ :'data-action' => 'play' }
      %img{ src: '/assets/term/playback-start.png' }
    %li.sc-button{ :'data-action' => 'settings' }
      %img{ src: '/assets/term/properties.png' }
      %ul.sc-settings
        %li Play in Your terminal
        - if @record.editable_by?(current_user)
          %li= link_to 'edit', edit_record_path(@record), method: 'get'
          %li= link_to 'destroy', @record, method: 'delete', confirm: 'Really Destroy?'
    -# %li
    -#   %input.speed{ type: 'range', value: 0 }
    %li.progress.progress-info.progress-striped
      .bar
    %br      
    %input{ :type => :text, :value => "shelr play #{record_path(@record, :only_path => false, :format => :json)}", :class => 'cmdline hidden' }
    
:javascript
  jQuery(function() {
    window.term = new Terminal(#{@record.columns || 80}, #{@record.rows || 24}, function(data) {
      console.log("Handler:", data);
    });
    window.term.id = 1;
    term.open(document.getElementById('term'));
    window.player = new VT.Player(term);
    window.player.load('#{record_path(@record.id, :format => :json)}');
  })
