.info-block
  %p.lead
    Shelr.tv allows you to record
    something interesting from your terminal and
    share it to your followers.
  %p.lead
    It is almost the same thing as YouTube but for plain
    text shellcasts. You can copy and paste everything you see.

  %h2 Quickstart on Linux

  %ul
    %li
      %a{ :href => 'https://launchpad.net/~antono/+archive/shelr' } PPA
      for Ubuntu (Oneiric, Precise)
    %li
      %a{ :href => 'https://aur.archlinux.org/packages.php?ID=56945' } PKGBUILD
      for Arch Linux
      %code yaourt -S shelr
    %li
      %a{ :href => 'http://overlays.gentoo.org/proj/sunrise/browser/app-misc/shelr' } ebuild
      for Gentoo

  %h3 Via rubygems

  %p Install ruby and rubygems for your distribution
  %pre
    %code
      = preserve do
        :escaped
          [sudo] gem install shelr
          shelr record

  %h2 Quickstart on OSX

  %p Install ruby and rubygems

  %p
    Install ttyrec via
    %a{ :href => 'http://mxcl.github.com/homebrew/' } homebrew

  %pre
    %code
      = preserve do
        :escaped
          brew install ttyrec

  %p Install shelr

  %pre
    %code
      = preserve do
        :escaped
          gem install shelr
          shelr backend ttyrec
          shelr record

  %h2 Support
  %p
    Mailing List:
    %a{ href: "https://groups.google.com/group/shelr" } https://groups.google.com/group/shelr
  %p
    IRC:
    %a{ href: "irc://irc.freenode.net#shelr" } #shelr at freenode.net

  - if Shelr.config['team']
    %h2 Meet the Team
    .users.team
      - Shelr.config['team'].each_pair do |member, attrs|
        = render 'users/user', user: UserDecorator.find(attrs['id']), role: attrs['role']
      - if logged_in?
        - unless Shelr.config['team'].values.map { |v| v['id'] }.include? current_user.id.to_s
          = render 'users/user', user: current_user, role: 'Just imagine! :)'


  %h2 Contribute
  %p New contributors are very welcome!
  %p
    Code is at
    %a{ href: 'http://github.com/antono/shelr.tv' } GitHub
