%li.record

  - if show_user
    .userinfo
      = link_to(image_tag(record.user.avatar_url(100)), record.user, :class => 'avatar')
      = link_to sanitize(record.user.nickname), record.user
  - else
    .shell
      = link_to image_tag('shell.png'), record
      %sup= record.size

  %h3.title
    = link_to sanitize(record.title), record
  .desc
    =sanitize record.description_html
  - unless record.tags.blank?
    %p.tags
      - record.tags.split(",").map(&:strip).each do |tag|
        = link_to sanitize(tag), records_path(:tags => [tag])
  .desc
    Published
    = time_ago_in_words(record.created_at)
    ago
    %br

  - if record.comments.any?
    .desc
      =link_to  pluralize(record.comments.count, 'comment'), record
      so far...
