%li.record

  - if show_user
    .userinfo
      = link_to(image_tag(record.user.avatar_url(100)), record.user, :class => 'avatar')
      = link_to sanitize(record.user.nickname), record.user
  - else
    .shell
      = link_to image_tag('shell.png'), record
      %sup= record.size

  %h3.title
    = link_to sanitize(record.title), record
  .desc
    %time{ datetime: record.created_at }
      = time_ago_in_words(record.created_at)
      ago
    
  .desc.description
    =sanitize record.description_html
  - unless record.tags.blank?
    %br

  .desc
    - if record.comments.any?
      = link_to pluralize(record.comments.count, 'comment'), record, class: 'label label-success comments-count'
    %p.tags
      - record.tags.split(",").map(&:strip).each do |tag|
        = link_to sanitize(tag), records_path(:tags => [tag])
