.info-block
  %h1.aligned
    Editing shellcast
  
  = form_for @record do |f|
    %p
      = f.label :title
      = f.text_field :title
    %p.description
      = f.label :description, '&nbsp;'.html_safe
      = f.text_area :description, :rows => 5
    %p
      = f.label :tags
      = f.text_field :tags
    %p
      .btn-group
        = button_to_function 'Cancel', 'history.back()', class: 'btn'
        = f.submit 'Save', class: 'btn btn-success'

