.info-block
  %h1.aligned
    Editing shellcast

  = simple_form_for @record do |f|
    = f.input :title
    = f.input :related_url
    = f.input :description, as: :text, label: false, input_html: { rows: 5 }, wrapper_html: { class: 'description' }
    = f.input :tags
    = f.input :private, as: :boolean
    .form-actions
      = button_to_function 'Cancel', 'history.back()', class: 'btn'
      = f.button :submit, 'Save', class: 'btn-success'
