%h1.aligned
  Edit:
  = @record.title

= form_for @record do |f|
  %p
    = f.label :title
    = f.text_field :title
  %p
    = f.label :description, '&nbsp;'.html_safe
    = f.text_area :description, :rows => 5
  %p
    = f.label :tags
    = f.text_field :tags
  %p
    = f.label :description, '&nbsp;'.html_safe
    = button_to_function 'Cancel', 'history.back()'
    = f.submit 'Save'

