- content_for :meta do
  = auto_discovery_link_tag :atom, "/records.atom?q=#{params[:q]}", title: "Shelr.tv - feed for '#{params[:q]}'"

.flashes
  - if @records.any?
    .alert.alert-success.search-feed
      %a{ href: search_records_path(format: 'atom', q: params[:q], only_path: false) }
        = image_tag('feed-16x16.png')
        = "Follow search: #{params[:q]}"
  - else
    .alert.alert-error
      Nothing found for:
      = params[:q]

%ul.records
  - if @records.any?
    - @records.each do |record|
      = render :partial => 'records/record', locals: { record: record, show_user: true }
  - else
    %li.record
      .centered
        = link_to image_tag('search/yoda.jpg'), '/about'

= paginate @records
