- content_for :title do
  = 'ShellCast: "' + @record.title + '" < '

%h1
  = @record.title
  by
  = link_to @record.user.nickname, @record.user

= player_for(@record)

- unless @record.tags.blank?
  .tags
    %p
      %strong Tags:
      - @record.tags.split(",").map(&:strip).each do |tag|
        = link_to tag, records_path(:tags => [tag])

.desc
  = @record.description_html

.desc
  %input{ :type => :text, :value => "shellcast play #{record_path(@record, :only_path => false, :format => :json)}", :style => 'width: 500px' }
