- content_for :title do
  = @record.title

- content_for :meta do
  %meta{ name: 'title', content: @record.title }
  %meta{ name: 'description', content: @record.description }

= render :partial => 'users/user', :locals => { :user => @record.user, :record => @record, :edit => true }

= player_for(@record)

- if logged_in?
  %h2.comm Comments

.comments
  - if @record.comments.any?
    - @record.comments.each do |comment|
      = render partial: 'comments/comment', object: comment

= render partial: 'comments/form', locals: { commentable: @record }
