- content_for :title do
  = @record.title

- content_for :meta do
  %meta{ name: 'title', content: @record.title }
  %meta{ name: 'description', content: @record.description }

= render @record.user, :record => @record, :edit => true

= player_for(@record)

- if logged_in?
  %h2.comm Comments

#comments.comments
  - if @record.comments.any?
    = render @record.comments

= render 'comments/form', commentable: @record
