!!! 5
%html
  %head
    %title
      = yield :title
      Shell Ninjas
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Ubuntu&subset=cyrillic,latin'
    = stylesheet_link_tag 'sgr'
    = stylesheet_link_tag 'style'

    = javascript_include_tag 'vt100js/vt100.js'
    = javascript_include_tag 'vt100js/vt100-html.js'
    = javascript_include_tag 'jsdeferred.js'
    = javascript_include_tag 'player.js'
    = csrf_meta_tag
%body
  %header
    %h1= link_to 'Shell Ninjas', root_url, alt: 'Shell Ninjas Secrets...'
    %menu
      - if logged_in?
        %li= link_to current_user.nickname, current_user
        %li= link_to 'logout', logout_url
      - else
        %li= button_to 'Login with Twitter', '/auth/twitter'
  %section.flashes
    - [:error, :notice].each do |type|
      - unless flash[type].blank?
        %div{ class: type }= flash[type]
  %section
    = yield
  %footer
    &copy; 2010
    %a{ href: 'http://red-brigade.biz/' } Red Brigade
