!!! 5
%html
  %head
    %meta{ charset:'utf-8' }
    %title
      = yield :title
    %link{ href: "/assets/favicon.ico", rel: "shortcut icon", type: "image/vnd.microsoft.icon" }
    %link{ rel: "search", type: "application/opensearchdescription+xml", href: "/opensearch.xml", title: "Shelr.tv" }
    %link{ rel: "image_src", href: '/assets/shell.png' }
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Ubuntu&subset=cyrillic,latin'
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tag
    = auto_discovery_link_tag :atom, "/records.atom", title: 'Shelr.tv - new records'
    = yield :head
    = yield :meta

%body{ class: controller_and_action_class_names }
  .wrapper
    %nav.navbar
      .navbar-inner
        .container
          %a{ class: "brand", href: '/' } Ŝelr.tv
          %ul{ class: "nav" }
            %li{ class: active_if(/^\/records/)    }= link_to "Records <sup>#{Record.count}</sup>".html_safe, "/records"
            %li{ class: active_if(/^\/users/)      }= link_to "Users".html_safe, '/users'
            %li{ class: active_if(/^\/about/)      }= link_to "What's up?", '/about'
            -# %li{ class: active_if(/^\/blog/)       }= link_to 'Blog', '/blog'
          %ul{ class: "nav pull-right" }
            %li
              = form_tag '/records/search', :method => :get, :class => 'navbar-search pull-right' do
                = search_field_tag :q, '', :placeholder => 'Search', :class => 'search-query'
            %li.divider-vertical
            - if logged_in?
              %li= link_to current_user.nickname, current_user
              %li= link_to 'logout', logout_url
            - else
              %li= link_to 'Login', '/login'

    %section.flashes
      - if cookies['saw-alert-1'].blank? && !Rails.env.test?
        #alert-1.alert.alert-info
          %a{ class: 'close', :'data-dismiss' => "alert" } &times;
          %a{ href: 'http://antono.info/eng/2012/4/shelr-tv-embedded-screencasts', target: '_blank' } Introducing embedded and private records!
      - [:error, :notice].each do |type|
        - unless flash[type].blank?
          .alert{ class: { error: 'alert-error', notice: 'alert-success', info: 'alert-info' }[type] }= flash[type]

    %section.main
      = yield

    %footer
      %p.follow
        = render 'shared/twitter_follow'
      %p.copy
        %a{ href: 'https://github.com/shelr' } Shelr is fully free software written in Ruby and Rails.
      %p.copy
        %a{ href: 'https://github.com/shelr' }
          %strong Join the Fun!
        
      %p.copy
        %span{ :class => 'left' } Written by
        %a{ href: 'http://twitter.com/antono' } Antono Vasiljev
        and
        %a{ href: 'https://github.com/shelr/shelr.tv/contributors' } other
        %a{ href: 'https://github.com/shelr/shelr/contributors' } contributors.
        
        

    = render 'shared/analytics'
    = render 'shared/fork_me'
    = render 'shared/login_modal'
