!!! 5
%html
  %head
    %title
      = yield :title
      Shelr
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Ubuntu&subset=cyrillic,latin'
    = stylesheet_link_tag 'sgr'
    = stylesheet_link_tag 'style'
    = javascript_include_tag 'parser.js'
    = javascript_include_tag 'canvas.js'
    = javascript_include_tag 'term.js'
    = javascript_include_tag 'jsdeferred.js'
    = javascript_include_tag 'player.js'
    = javascript_include_tag 'transitions.js'
    %link{ href: "/favicon.png", rel: "icon", type: "image/png" }
    = csrf_meta_tag
%body
  <a href="http://github.com/red-brigade/shellcast"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://assets0.github.com/img/5d21241b64dc708fcbb701f68f72f41e9f1fadd6?repo=&url=http%3A%2F%2Fs3.amazonaws.com%2Fgithub%2Fribbons%2Fforkme_left_red_aa0000.png&path=" alt="Fork me on GitHub"></a>

  #wrapper
    %header
      %h1
        = render partial: 'shared/terminal'
        = link_to 'Shelr <sup>Alpha</sup>'.html_safe, root_url, alt: 'Shell Ninjas Secrets...'
    %menu.top
      - if logged_in?
        %li |
        %li= link_to current_user.nickname, current_user
        %li= link_to 'logout', logout_url
      - else
        %li= link_to 'Login with Twitter', '/auth/twitter'
      %li.search
        - form_tag '/search', :method => :get do
          = search_field_tag :q, '', :placeholder => 'Search'
        %div{ style: 'width: 100%' }
    %section.flashes
      - [:error, :notice].each do |type|
        - unless flash[type].blank?
          %div{ class: type }= flash[type]
    %section
      = yield
    %footer
      %p.copy
        %span{ :class => 'left' } ©
        2010
        %a{ href: 'http://red-brigade.biz/' } Red Brigade

    = render partial: 'shared/analytics'
