!!! 5
%html
  %head
    %meta{ charset:'utf-8' }
    %link{ href: "/favicon.png", rel: "icon", type: "image/png" }
    %title
      = yield :title
      Shelr
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Ubuntu&subset=cyrillic,latin'
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'jquery'
    = javascript_include_tag 'application'
    = csrf_meta_tag
  
%body{ class: controller_and_action_class_names }
  .wrapper
    .navbar
      .navbar-inner
        .container
          %a{ class: "brand", href: '/' } Shelr.tv
          %ul{ class: "nav" }
            %li{ class: active_if(/^\/records/)    }= link_to "Records <sup>#{Record.count}</sup>".html_safe, "/records"
            %li{ class: active_if(/^\/users/)      }= link_to "Users <sup>#{User.count}</sup>".html_safe, '/users'
            %li{ class: active_if(/^\/about/)      }= link_to 'About', '/about'
            -# %li= link_to 'Tags', '/tags'
            -# %li
            -#   = form_tag '/search', :method => :get do
            -#     = search_field_tag :q, '', :placeholder => 'Search'
          %ul{ class: "nav pull-right" }
            %li.divider-vertical
            - if logged_in?
              %li= link_to current_user.nickname, current_user
              %li= link_to 'logout', logout_url
            - else
              %li= link_to 'Login via Github', '/auth/github'
            
    %section.flashes
      - [:error, :notice].each do |type|
        - unless flash[type].blank?
          .alert{ class: { error: 'alert-error', notice: 'alert-success', info: 'alert-info' }[type] }= flash[type]

    %section.main
      = yield

    %footer
      %p.copy
        %span{ :class => 'left' } ©
        = "2010-#{Date.today.year}"
        %a{ href: 'http://red-brigade.biz/' } Red Brigade

    = render partial: 'shared/analytics'
