!!! 5
%html
  %head
    %title
      = yield :title
      Shelr
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Ubuntu&subset=cyrillic,latin'
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    -# = javascript_include_tag 'parser.js'
    -# = javascript_include_tag 'canvas.js'
    -# = javascript_include_tag 'term.js'
    -# = javascript_include_tag 'jsdeferred.js'
    -# = javascript_include_tag 'player.js'
    -# = javascript_include_tag 'transitions.js'
    %link{ href: "/favicon.png", rel: "icon", type: "image/png" }
    = csrf_meta_tag
%body
  = render :partial => 'shared/forkme'

  #wrapper
    %header
      %h1
        = render partial: 'shared/terminal'
        = link_to 'Shelr <sup>Alpha</sup>'.html_safe, root_url, alt: 'Shell Ninjas Secrets...'
    %menu.top
      - if logged_in?
        %li |
        %li= link_to current_user.nickname, current_user
        %li= link_to 'logout', logout_url
      - else
        %li= link_to 'Github Auth', '/auth/github'
      %li.search
        - form_tag '/search', :method => :get do
          = search_field_tag :q, '', :placeholder => 'Search'
        %div{ style: 'width: 100%' }
    %section.flashes
      - [:error, :notice].each do |type|
        - unless flash[type].blank?
          %div{ class: type }= flash[type]
    %section
      = yield
    %footer
      %p.copy
        %span{ :class => 'left' } ©
        2010
        %a{ href: 'http://red-brigade.biz/' } Red Brigade

    = render partial: 'shared/analytics'
